<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <div class="footer-nav">
                <ul class="footer-projects">
                    <li><a href="http://teaching.busionline.com" target="_blank">教学平台</a></li>
                    <li><a href="http://shop.busionline.com" target="_blank">模拟商城</a></li>
                    <li><a href="http://erp.busionline.com" target="_blank">供销系统</a></li>
                    <li><a href="http://newtrain.busionline.com" target="_blank">管理系统</a></li>
                    <li><a href="http://www.busionline.com" target="_blank">管理系统</a></li>
                    <li><a href="http://match.busionline.com" target="_blank">网创大赛</a></li>
                    <li><a href="http://bbs.busionline.com" target="_blank">在线交流</a></li>
                    <li><a href="http://live.busionline.com" target="_blank">来福直播</a></li>
                    <li><a href="http://cloud.busionline.com" target="_blank">创客云</a></li>
                    <li><a href="http://ckwzx.com" target="_blank">创客行</a></li>
                </ul>
                <ul class="footer-links">
                    <li><a href="http://busionline.com/comm/about/" target="_blank">关于我们</a></li>
                    <li><a href="http://busionline.com/comm/join/" target="_blank">招募英才</a></li>
                    <li><a href="http://busionline.com/comm/contact/" target="_blank">联系我们</a></li>
                </ul>
                <ul class="footer-social">
                    <li>
                        <a href="http://weibo.com/cyonlinecn" target="_blank">
                            <img src="http://static.busionline.com/dist/css/comm/icon_weibo.jpg" alt="">
                        </a>
                    </li>
                    <li class="wechat">
                        <a href="javascript:;">
                            <img src="http://static.busionline.com/dist/css/comm/icon_wechat.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:admin@busionline.com" target="_blank">
                            <img src="http://static.busionline.com/dist/css/comm/icon_email.jpg" alt="">
                        </a>
                    </li>
                    <li><a href="tel:0571-88885888">0571-88885888</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyRight"><p class="container">©2011-2015 www.busionline.com 杭州沃土教育科技股份有限公司 版权所有<a
                href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#fff;">浙ICP备13018620号-1</a></p></div>
    </div>
</div>