.authentication-page {
  min-height: 500px;
  background: url(../image/loginbg@2x.png) no-repeat center center;
  background-size: cover;
  padding: 80px 0;
}
.authentication-page .authentication {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px 80px;
}
.authentication-page .authentication .auth-head span {
  display: inline-block;
  width: 33%;
  color: #999;
}
.authentication-page .authentication .auth-head .left {
  border-bottom: 1px solid #d8d8d8;
}
.authentication-page .authentication .auth-head .active {
  border-bottom: 2px solid #fedc32;
  color: #222;
}
.authentication-page .authentication .auth-head .center {
  text-align: center;
}
.authentication-page .authentication .auth-head .middle {
  border-bottom: 1px solid #d8d8d8;
}
.authentication-page .authentication .auth-head .right {
  text-align: right;
  border-bottom: 1px solid #d8d8d8;
}
.authentication-page .authentication .auth-content .form-group {
  margin-top: 30px;
  width: 100%;
  position: relative;
}
.authentication-page .authentication .auth-content .form-group .title {
  display: inline-block;
  margin-right: 25px;
}
.authentication-page .authentication .auth-content .form-group .error {
  font-size: 12px;
  color: #E52A3A;
  font-weight: inherit;
  line-height: 1em;
}
.authentication-page .authentication .auth-content .form-group .regist-container {
  margin-right: 30px;
  line-height: 1em;
  margin-top: 0;
}
.authentication-page .authentication .auth-content .form-group .regist-container input[type="radio"]:checked + label {
  color: #444;
}
.authentication-page .authentication .auth-content .form-group .regist-container label {
  font-size: 14px;
  color: #999;
  font-weight: inherit;
  margin-left: 5px;
  line-height: 1em;
  cursor: pointer;
}
.authentication-page .authentication .auth-content .form-group.regist-form-group {
  margin-top: 20px;
}
.authentication-page .authentication .auth-content .form-group input[type="text"],
.authentication-page .authentication .auth-content .form-group input[type="password"] {
  width: 100%;
  border: 1px solid #D8D8D8;
  padding: 0 10px;
  height: 42px;
}
.authentication-page .authentication .auth-content .form-group input[type="text"]:focus,
.authentication-page .authentication .auth-content .form-group input[type="password"]:focus {
  outline: none;
}
.authentication-page .authentication .auth-content .form-group.forget-pwd {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
  overflow: hidden;
}
.authentication-page .authentication .auth-content .form-group.forget-pwd a {
  font-size: 12px;
  line-height: 1em;
  text-decoration: none;
}
.authentication-page .authentication .auth-content .form-group.forget-pwd .pull-right {
  line-height: 1em;
}
.authentication-page .authentication .auth-content .form-group.forget-pwd .pull-right label {
  color: #666;
  margin-left: 10px;
  font-weight: inherit;
  cursor: pointer;
}
.authentication-page .authentication .auth-content .form-group.pwd-input {
  margin-bottom: 0;
}
.authentication-page .authentication .auth-content .form-group.pwd-input input {
  padding-right: 45px;
}
.authentication-page .authentication .auth-content .form-group.pwd-input .glyphicon {
  position: absolute;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  top: 0;
  right: 0;
  border: 1px solid #D8D8D8;
  cursor: pointer;
}
.authentication-page .authentication .auth-content .form-group.pwd-input .glyphicon.glyphicon-eye-close {
  color: #999;
}
.authentication-page .authentication .auth-content .form-group.pwd-input .glyphicon.glyphicon-eye-open {
  color: #333;
}
.authentication-page .authentication .auth-content .form-group.hide-phone {
  display: none;
}
.authentication-page .authentication .auth-content .form-group.hide-people {
  display: none;
}
.authentication-page .authentication .auth-content .form-group.send-input input {
  padding-right: 100px;
}
.authentication-page .authentication .auth-content .form-group.send-input .btn-send-phone {
  position: absolute;
  height: 42px;
  width: 100px;
  line-height: 42px;
  text-align: center;
  color: #666;
  font-size: 14px;
  background: #f0f0f0;
  top: 0;
  right: 0;
  border: 1px solid #D8D8D8;
  cursor: pointer;
}
.authentication-page .authentication .auth-content .live-submit-btn {
  width: 100%;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background: #FEDC32;
  color: #222;
  margin-top: 30px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
@media (max-width: 520px) {
  .authentication-page .authentication .auth-content {
    width: auto;
    padding: 10px 10px;
  }
}
.authentication-page .authentication .tab-content p {
  margin-bottom: 0;
}
.authentication-page .authentication .tab-content input {
  width: 100%;
  padding-left: 10px;
  outline-color: #f0f0f0;
  margin-bottom: 30px;
  height: 42px;
  border: 1px solid #D8D8D8;
}
.authentication-page .authentication .tab-content .tel-pass {
  display: block;
  position: relative;
}
.authentication-page .authentication .tab-content .gain {
  position: absolute;
  height: 42px;
  width: 100px;
  line-height: 42px;
  text-align: center;
  color: #666;
  font-size: 14px;
  background: #f0f0f0;
  top: 0;
  right: 0;
  border: 1px solid #D8D8D8;
  cursor: pointer;
}
.authentication-page .authentication .tab-content input[type="button"] {
  background-color: #FEDC32;
  color: #222;
  border: 0;
  outline: 0;
  padding: 3px 0;
}
.authentication-page .authentication .tab-content .email-content {
  display: none;
}
.authentication-page .authentication .login {
  background: #fff;
  padding: 40px 20px;
  text-align: center;
}
.authentication-page .authentication .login .seccess-img-tip {
  width: 94px;
}
@media (max-width: 520px) {
  .authentication-page .authentication .login .seccess-img-tip {
    width: 60px;
  }
}
.authentication-page .authentication .login h4,
.authentication-page .authentication .login h5 {
  margin-top: 15px;
  line-height: 1em;
}
.authentication-page .authentication .login h5 {
  color: #666;
}
.authentication-page .authentication .login .sign-num {
  color: #33AFFC;
}
.authentication-page .authentication .login .sign-num span {
  color: #999;
  margin-left: 5px;
}
.authentication-page .authentication .login .go-page-btn {
  display: block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #33AFFC;
  font-size: 14px;
  text-decoration: none;
  margin: 30px auto 0 auto;
}
.authentication-page .authentication .login .go-page-btn:active,
.authentication-page .authentication .login .go-page-btn:hover {
  text-decoration: none;
}
@media (max-width: 520px) {
  .authentication-page .authentication .login {
    width: auto;
    padding: 10px 10px;
  }
}
@media (max-width: 520px) {
  .authentication-page .authentication {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    padding: 20px 10px;
  }
}
