.card {
  padding: 8px;
  position: relative;
  cursor: pointer;
}
.card .card-container {
  position: relative;
  background: #fff;
  width: 100%;
  transition: all .3s ease;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 0 !important;
}
.card .card-container > a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.card .card-container:hover {
  -webkit-transform: translate(0, -6px);
  -ms-transform: translate(0, -6px);
  -o-transform: translate(0, -6px);
  transform: translate(0, -6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.card .card-container .img-container {
  width: 100%;
  position: relative;
  padding-bottom: 74%;
  background: orange;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.card .card-container .img-container .left-type {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  line-height: 1em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}
.card .card-container .img-container .right-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
  line-height: 1em;
  background: #FEDC32;
  color: #070808;
  font-size: 12px;
}
.card .card-container .img-container .like-center {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 3px 8px;
  line-height: 1em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}
.card .card-container .img-container .like-center .first-icon {
  margin-right: 10px;
}
.card .card-container .card-content {
  padding: 10px;
  background: #fff;
}
.card .card-container .card-content .card-header {
  overflow: hidden;
  position: relative;
}
.card .card-container .card-content .card-header .title {
  height: 36px;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
  color: #333;
  margin-right: 65px;
  float: left;
}
.card .card-container .card-content .card-header .enter-btn {
  display: block;
  text-decoration: none;
  width: 60px;
  height: 24px;
  background: #33AFFC;
  color: #fff;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
}
.card .card-container .card-content .card-text .card-time {
  color: #666;
  font-size: 12px;
  margin-top: 10px;
}
.card .card-container .card-content .card-text .card-address {
  color: #666;
  font-size: 12px;
  margin-top: 0px;
}
.search-page .container {
  padding: 80px 0;
}
.search-page .container .row .col-md-4 .hr-content {
  width: 100%;
  text-align: center;
  position: relative;
}
.search-page .container .row .col-md-4 .hr-content:before {
  content: '';
  display: block;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 14px;
  width: 100%;
  z-index: 1;
}
.search-page .container .row .col-md-4 .hr-content .title-tip {
  font-size: 24px;
  color: #333;
  padding: 0 20px;
  background: #fff;
  position: relative;
  z-index: 2;
}
.search-page .container .breadcrumb {
  margin: 60px 0 20px 0;
  font-size: 12px;
  color: #666;
}
.search-page .container .card-center {
  margin-left: -8px;
  margin-right: -8px;
}
